    <style>
        body {
            background-color: green;
        }
        img {
            float: right;
        }
        p {color: blue;
            font-family: "arial";
            margin-top: 80px;
        }
        h1 {
            border-bottom: 1px solid black;
            position:fixed;
            height: 40px;
            width: 500px;
            background-color:white;
        
        }
